body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.parent{
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px; 
  margin: 20px;
  border: 1px solid;
}

.parent .top img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.top button{
  width: 90px;
  height: 40px;
  font-size:15px
}
.bottom button{
  width: 110px;
  height: 40px;
}
.center .days{
  word-spacing: -3px;
  color: rgb(129, 125, 125);
  font-size: 15px;
}

